<h2>Liste des stations :</h2>
<table>
  <tr>
    <th>Nom</th>
    <th>Installé</th>
    <th>État</th>
    <th>% disponible</th>
  </tr>
  @for (station of stations; track station.id) {
    <tr>
      <td>{{station.name}}</td>
      <td>
        @if (station.isInstalled) {
          <img src="images/ok.png" title="Installé">
        } @else {
          <img src="images/en-cours.png" title="En cours d'installation">
        }
      </td>
      <td>
        @if (station.isRenting) {
          <img src="images/fleche-bas.png" title="Location possible">
        }
        @if (station.isReturning) {
          <img src="images/fleche-haut.png" title="Retour possible">
        }
      </td>
      @if (station.capacity > 0) {
        {{station.numBikesAvailable / station.capacity | percent:'1.2-2'}}
      }
    </tr>
  }
</table>
{{JSON.stringify(criteres())}}
